
{% extends 'base.html.twig' %}
 
 
{% block navbar %}


<a name="" id="b" class="btn btn-primary" href="{{path('index')}}" role="button">HOME</a>
<a name="" id="b" class="btn btn-primary" href="{{path('phones_new')}}" role="button">ADD NEW PHONE</a>
<a name="" id="b" class="btn btn-primary" href="{{path('show_contacts')}}" role="button">SHOW EXISTING CONTACTS</a>
<a name="" id="b" class="btn btn-primary" href="{{path('show_phones')}}" role="button">SHOW EXISTING PHONES</a>

{% endblock %}
{% block title_name %}
 ADD NEW CONTACT
{% endblock %}
{% block header %}
    <h1 style="text-align:center">NEW CONTACT</h1>
{% endblock %}
 
{% block content  %}
    
    <script>
    <ul class="phones"
        data-index="{{ form.phones|length > 0 ? form.phones|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.phones.vars.prototype)|e('html_attr') }}">     
    </ul>
    </script>
    <div class="container">
        {{ form_(form) }}    
    </div>
 
{% endblock %}
