
{% extends 'base.html.twig' %}
 

 {% block navbar %}


<a name="" id="b" class="btn btn-primary" href="{{path('index')}}" role="button">HOME</a>
<a name="" id="b" class="btn btn-primary" href="{{path('show_contacts')}}" role="button">SHOW EXISTING CONTACTS</a>
<a name="" id="b" class="btn btn-primary" href="{{path('show_phones')}}" role="button">SHOW EXISTING PHONES</a>
<a name="" id="b" class="btn btn-primary" href="{{path('contact_new')}}" role="button">NEW CONTACT</a>


{% endblock %}
{% block title_name %}
    CONTACTOS
{% endblock %}
{% block header %}
    <h1 style="text-align:center">ADD NEW PHONE NUMBER</h1>
{% endblock %}
 
{% block content  %}
    <div class="container">
    {{ form(form) }}
    </div>
{% endblock %}